language: php
php:
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4'
before_script:
  - COMPOSER_DISABLE_XDEBUG_WARN=1 composer install --prefer-dist
script:
  - COMPOSER_DISABLE_XDEBUG_WARN=1 composer test
  - 'composer style-check'
after_success:
  - 'vendor/bin/coveralls'
dist: trusty
